
.company {
    margin-top: 100px;
    padding: 0 15px;
    padding-top: 60px;
    .content {
        display: flex;
        flex-direction: column-reverse;

        .text {
            margin-bottom: 50px;
            h2, p {
                margin-bottom: 20px;
            }
        }

        .image-container {
            text-align: center;
            margin-bottom: 100px;
            img {
                max-width: 50%;
                border-radius: 50%;
            }
            span {
                display: block;
                color: $color-heading;
                margin-bottom: 5px;
            }
        }
    }

    .awards {
        h2 {
            margin-bottom: 20px;
        }
        .logos {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: none;

            .logo {
                width: 50%;
                box-sizing: border-box;
                padding: 15px;

            }

        }
    }

    @include breakpoint (tablet) {
        max-width: 80%;
        margin: 0 auto;
        margin-top: 150px;
        .content {
            flex-direction: row;
        }

        .awards {
            .logos {
                max-width: 70%;
                margin-left: auto;
                .logo {
                    width: 25%;
                }
            }
        }
    }

    @include breakpoint (desktop) {
        margin-top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;

        .content {
            flex: 1;
            align-items: center;
            margin-bottom: 100px;

            .text {
                flex: 1;
            }

            .image-container {
                max-width: 400px;
                transform: translateY(-35px);
                margin: 0;

                span {
                    margin: 0;
                    display: none;
                }
            }
        }

        .awards {
            width: 1000px;
            margin: 0 auto;
            .logos {
                display: flex;
                justify-content: space-around;
                .logo {
                    max-width: 120px;
                }
            }
        }

    }
}
