* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: $color-copy;
}

img {
    max-width: 100%;
}


h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color: $color-heading;
}

h1 {
    font-size: 36px;

    @include breakpoint (desktop) {
        font-size: 50px;
    }
}

h2 {
    font-size: 28px;
    font-family: 'Libre Baskerville';
    color: $color-heading;
}

h3 {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

h4 {
    color: $color-heading;
    font-family: 'Libre Baskerville';
    font-size: 18px;
    display: block;
    margin-bottom: 20px !important;
}

p, .link-button {
    line-height: 1.2;
    font-size: 20px;

    @include breakpoint (desktop) {
        font-size: 25px;
    }
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    background-color: $color-green;
    text-decoration: none;
    color: $color-heading;
    border-radius: 3px;

    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    &:hover {
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    }
}

.link {
    color: $color-heading;
    text-decoration: none;
    border-bottom: 2px solid $color-green;
}
