
.navigation {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        img {
            max-height: 40px;
        }
    }

    nav {
        display: none;
    }

    @include breakpoint (desktop) {
        padding: 0 10%;
        nav {
            display: block;
            a {
                text-decoration: none;
                margin-left: 20px;
            }
        }
    }

}
