
.navigation {
    position: absolute;
    top: 0;
    // height: 50px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        padding-top: 10px;
        img {
            max-height: 60px;
        }
    }

    nav {
        display: none;
    }

    @include breakpoint (desktop) {
        padding: 0 12.5%;
        nav {
            display: block;
            a {
                text-decoration: none;
                margin-left: 20px;
            }
        }
    }

}
